In [44]:
import pandas as pd
import numpy as np
df = pd.read_csv('car_fuel_efficiency.csv')

In [43]:
pd.__version__

'2.3.2'

In [47]:
df.shape

(9704, 11)

In [52]:
df['fuel_type'].unique()

array(['Gasoline', 'Diesel'], dtype=object)

In [71]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [77]:
df_asia = df[df['origin'] == "Asia"]
df_asia['fuel_efficiency_mpg'].max()

np.float64(23.759122836520497)

In [87]:
df_hp = df['horsepower'].copy()
df_hp.median()

np.float64(149.0)

In [93]:
df_hp.mode()[0]

np.float64(152.0)

In [97]:
df_fill = df_hp.fillna(df_hp.mode()[0]).copy()
df_fill.median()

np.float64(152.0)

In [109]:
df_new = df_asia[['vehicle_weight','model_year']].copy()
df_new.head(7)

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [132]:
X = df_new.head(7).to_numpy()

In [133]:
XTX = np.dot(X.T, X)

In [134]:
XTX_inv = np.linalg.inv(XTX)

In [135]:
y = np.array([1100,1300,800,900,1000,1100,1200])

In [136]:
w = XTX_inv @ X.T @ y

In [137]:
w.sum()

np.float64(0.5187709081074006)